html {
  height: 100%;
}

body,
#root,
#main-container {
  min-height: 100vh;
}

.hover-card {
  transition: all ease-in-out 0.15s;
}

.hover-card:hover {
  transform: scale(1.05);
}

.display-small-img {
  height: 160px;
  object-fit: cover;
}
